body {
    background-image: url(https://cdn.vox-cdn.com/thumbor/UCNXs0XwX6WPPzMM3IGzuF5H1y0=/471x0:3927x2304/1280x854/cdn.vox-cdn.com/uploads/chorus_image/image/46660972/game-offline-Batman-Arkham-Knight-chinh-thuc-chao-ban-season-pass-02.0.0.jpg);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
    background-size: 100%;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(87, 84, 84);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 30px;
    
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(12, 11, 11);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #0f0e0e;
}

/* main container area beneath menu */
main {
    background: rgb(80, 78, 78);
    display: flex;
    border-radius:20px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 400px;
    margin-top: 25px
}
.content {
    flex: 1;
    padding: 15px;
}
.contentWords{
    color:black;
}

/* portfolio styles */
#interests {
    border: 12px rgb(10, 9, 9) ridge;
    padding: 8px; 
}
h2, h3 {
    margin: 0px;
    color: black
}
p{
    color:black
}
.content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #f60303;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}